<ul class="pagination pagination-rounded justify-content-end mb-2">
    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
        <a
          class="page-link"
          <% if (currentPage !== 1) { %> onclick="changePage(1, '<%= limit %>', '<%= pageName %>')" <% } %>
          aria-label="First"
        >
          <i class="mdi mdi-chevron-double-left"></i>
        </a>
      </li>
     
  <% const maxPagesToShow = 4; %> <% if (totalPages <= maxPagesToShow) { %> <%
  for (let page = 1; page <= totalPages; page++) { %>
  <li class="page-item <%= currentPage === page ? 'active' : '' %>">
    <a class="page-link" onclick="changePage('<%= page %>','<%= limit %>', '<%= pageName %>')"
      ><%= page %></a
    >
  </li>
  <% } %> <% } else { %> <% const startPage = Math.max(currentPage -
  Math.floor(maxPagesToShow / 2), 1); %> <% const endPage = Math.min(startPage +
  maxPagesToShow - 1, totalPages); %> <% if (startPage > 1) { %>
  <li class="page-item">
    <a class="page-link" onclick="changePage('1','<%= limit %>', '<%= pageName %>')">1</a>
  </li>
  <% if (startPage > 2) { %>
  <li class="page-item disabled">
    <a class="page-link">...</a>
  </li>
  <% } %> <% } %> <% for (let page = startPage; page <= endPage; page++) { %>
  <li class="page-item <%= currentPage === page ? 'active' : '' %>">
    <a class="page-link" onclick="changePage('<%= page %>','<%= limit %>', '<%= pageName %>')"
      ><%= page %></a
    >
  </li>
  <% } %> <% if (endPage < totalPages) { %> <% if (endPage < totalPages - 1) {
  %>
  <li class="page-item disabled">
    <a class="page-link">...</a>
  </li>
  <% } %>
  <li class="page-item">
    <a
      class="page-link"
      onclick="changePage('<%= totalPages %>','<%= limit %>', '<%= pageName %>')"
      ><%= totalPages %></a
    >
  </li>

  <% } %> <% } %>
   <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
    <a
      class="page-link"
      <% if (currentPage !== totalPages) { %> onclick="changePage('<%= totalPages %>', '<%= limit %>', '<%= pageName %>')" <% } %>
      aria-label="Last"
    >
      <i class="mdi mdi-chevron-double-right"></i>
    </a>
  </li>
</ul>