<div class="vertical-menu">
  <div class="navbar-brand-box">
    <a href="/" class="logo logo-dark">
      <span class="logo-sm">
        <img src="/assets/images/logo-white.png" alt="" height="22" />
      </span>
      <span class="logo-lg">
        <img src="/assets/images/logo-white.png" alt="" height="22" />
      </span>
    </a>

    <a href="/" class="logo logo-light">
      <span class="logo-lg">
        <img src="/assets/images/logo-white.png" alt="" height="22" />
      </span>
      <span class="logo-sm">
        <img src="/assets/images/logo-white.png" alt="" height="22" />
      </span>
    </a>
  </div>

  <button
    type="button"
    class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn"
  >
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <div data-simplebar class="sidebar-menu-scroll">
    <div id="sidebar-menu">
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu"><%=translation.Menu%></li>

        <li>
          <a href="/">
            <i class="bx bx-tachometer icon nav-icon"></i>
            <span class="menu-item" data-key="t-dashboards">Dashboard</span>
          </a>
        </li>

        <li class="menu-title" data-key="t-applications">
          <%=translation.Applications%>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i class="bx bx-menu icon nav-icon"></i>
            <span class="menu-item" data-key="t-cat">Categories</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="/categories" data-key="t-inbox">Categories</a>
            </li>
            <li>
              <a href="/add/category" data-key="t-read-cat">Add category</a>
            </li>
            <li>
              <a href="/subcategories" data-key="t-inbox">Subcategories</a>
            </li>
            <li>
              <a href="/add/subcategory" data-key="t-read-cat"
                >Add subcategory</a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i class="bx bx-calendar icon nav-icon"></i>
            <span class="menu-item" data-key="t-ev">Events</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="/events" data-key="t-inbox">Events</a>
            </li>
            <li>
              <a href="/add/event" data-key="t-read-ev">Add event</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/bookings">
            <i class="bx bx-calendar icon nav-icon"></i>
            <span class="menu-item" data-key="t-calendar"
              ><%=translation.Bookings%></span
            >
          </a>
        </li>
        <li>
          <a href="/reviews">
            <i class="bx bx-chat icon nav-icon"></i>
            <span class="menu-item" data-key="t-chat"
              ><%=translation.Reviews%></span
            >
          </a>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i class="bx bx-user-circle icon nav-icon"></i>
            <span class="menu-item" data-key="t-contacts"
              ><%=translation.Users%></span
            >
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="/users" data-key="t-inbox">Users</a>
            </li>
            <li>
              <a href="/add/user" data-key="t-read-email">Add user</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
