<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>

<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0">Subcategories</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Subcategories</a>
          </li>
          <li class="breadcrumb-item active">Subcategories</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<% if (message && message.length > 0) { %>
<ul class="errors">
  <%= message %>
</ul>
<% } %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2 justify-content-between">
          <div class="col-auto">
            <div class="text-sm-start">
              <a href="/add/subcategory">
                <button
                  type="button"
                  class="btn btn-success waves-effect waves-light mb-2 me-2"
                >
                  <i class="mdi mdi-plus me-1"></i> New subcategory
                </button>
              </a>
            </div>
          </div>
          <div class="col-auto">
            <div class="search-box me-2 mb-2">
                <form
                  method="get"
                  action="/subcategories"
                  class="row flex-row flex-nowrap justify-content-center"
                >
                <select 
                  class="form-select me-2" 
                  id="categorySelect"
                  name="category"
                  style="max-width: 180px;height: 42px;"
                >
                <option value=""> - Select category - </option>
                <% for (let category of categories) { %>
                  <option value="<%= category._id %>" <%= queryCat === category._id.toString() ? 'selected' : '' %>><%= category.name%></option>
                <% } %>
                </select>
                <input
                    type="text"
                    class="form-select" 
                    id="inputSearch"
                    name="key"
                    placeholder="Search..."
                    style="max-width: 180px;height: 42px"
                    value="<%= queryKey || '' %>"
                  />
                  <input
                    type="submit"
                    value="search"
                    class="btn btn-success waves-effect waves-light ms-2 me-3"
                    style="max-width:100px"
                  />
                </form>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead class="table-light">
              <tr>
                <th class="align-middle" style="width: 5%">Publish</th>
                <th class="align-middle" style="width: 30%">Subcategory</th>
                <th class="align-middle" style="width: 30%">Category</th>
                <th class="align-middle" style="width: 30%">Action</th>
              </tr>
            </thead>
            <tbody>
              <%- contentFor('body') %> <% if (subcategories.length > 0) { %> <%
              subcategories.forEach(function(subcategory) { %>
              <tr>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input activeSwtich" type="checkbox" role="switch" data-item-id="active_<%= subcategory._id %>" 
                    //prettier-ignore
                    <% if (subcategory.active) { %>checked<% } %>
                    id="active_<%= subcategory._id %>">
                  </div>
                </td>

                <td><b><%= subcategory.name %></b></td>
                <td><b><%= subcategory.category.name %></b></td>

                <td>
                  <div class="d-flex gap-1">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <a
                          href="/subcategory/<%= subcategory._id %>"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Edit"
                          ><i class="bx bx-pencil font-size-22"></i
                        ></a>
                      </li>

                      <li class="list-inline-item">
                        <% if(subcategory.order===1){ %>
                        <a
                          href="#"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Move top"
                          ><i
                            class="mdi mdi-arrow-up font-size-22"
                            style="color: #d1d1d1"
                          ></i
                        ></a>
                        <% } else { %>
                        <a
                          href="#"
                          onclick="moveSubcategory('<%= subcategory._id %>', 'up')"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Move top"
                          ><i class="mdi mdi-arrow-up font-size-22"></i
                        ></a>
                        <% } %>
                      </li>

                      <li class="list-inline-item">
                        <% if(subcategory.order===subcategories.length){ %>

                        <a
                          href="#"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Move down"
                          ><i
                            class="mdi mdi-arrow-down font-size-22"
                            style="color: #d1d1d1"
                          ></i
                        ></a>

                        <% } else { %>

                        <a
                          href="#"
                          onclick="moveSubcategory('<%= subcategory._id %>', 'down')"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Move down"
                          ><i class="mdi mdi-arrow-down font-size-22"></i
                        ></a>

                        <% } %>
                      </li>

                      <li class="list-inline-item">
                        <form
                          id="deleteForm<%= subcategory._id %>"
                          method="post"
                          action="/subcategory/delete/<%= subcategory._id %>"
                        >
                          <a
                            href="javascript:deleteSubcategory('<%= subcategory._id %>')"
                            id="deleteLink<%= subcategory._id %>"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Delete"
                            ><i class="bx bx-trash font-size-22 red"></i
                          ></a>
                        </form>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <% }); %> <% } else { %>
              <tr>
                <td colspan="10">
                  <br /><br />
                  <b>Subctegories not found</b>
                  <br /><br /><br />
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <%- include('./../Partials/Pagination', { totalPages, currentPage,
        limit, page, pageName:'subcategories'  }) %>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script>
  document.addEventListener('load', function () {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    const form = document.querySelector('#search-form');
    const queryInput = document.querySelector('#inputSearch');
    const resultsList = document.querySelector('#results');

    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const query = queryInput.value;

      fetch(`/search?query=${query}`)
        .then((response) => response.json())
        .then((data) => {
          resultsList.innerHTML = '';
          data.forEach((result) => {
            const listItem = document.createElement('li');
            listItem.textContent = result.name;
            resultsList.appendChild(listItem);
          });
        })
        .catch((error) => console.error(error));
    });
  });

  async function moveSubcategory(subcategoryId, direction) {
    try {
      const response = await fetch(`/move/subcategory`, {
        method: 'POST',
        mode: 'same-origin',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          subcategoryId,
          direction,
        }),
      });
      if (response.ok) {
        window.location.href = '/subcategories';
      }
    } catch (error) {
      console.error('Error http:', error);
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    initializeSwitches('subcategory');
  });
</script>


