<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %> <% function
capitalizeFirstLetter(str) { return str.charAt(0).toUpperCase() + str.slice(1);
} %>

<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0">Reviews</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Reviews</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<% if (message && message.length > 0) { %>
<ul class="errors">
  <%= message %>
</ul>
<% } %> <%- contentFor('body') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="form-inline float-md-end mb-3">
              <div class="search-box ms-2">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control rounded bg-light border-0 inputSearch"
                    placeholder="Search..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive mb-4">
          <table class="table table-centered table-nowrap mb-0">
            <thead>
              <tr>
                <th scope="col" style="width: 50px">
                  <div class="form-check font-size-16">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="contacusercheck"
                    />
                    <label
                      class="form-check-label"
                      for="contacusercheck"
                    ></label>
                  </div>
                </th>
                <th scope="col" style="width: 10%">Data</th>
                <th scope="col" style="width: 10%">Rating</th>
                <th scope="col" style="width: 30%">Tour</th>
                <th scope="col" style="width: 30%">User</th>
                <th scope="col" style="width: 20%">Action</th>
              </tr>
            </thead>
            <tbody>
              <% reviews.forEach(function(review) { %>
              <tr>
                <th scope="row">
                  <div class="form-check font-size-16">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="contacusercheck1"
                    />
                    <label
                      class="form-check-label"
                      for="contacusercheck1"
                    ></label>
                  </div>
                </th>
                <td><%= review.createdAt %></td>
                <td><%= review.rating %></td>
                <td><%= review.tour_id.name %></td>
                <td>
                  <%=
                  review.user_id.name=capitalizeFirstLetter(review.user_id.name)
                  %>
                  <%=
                  review.user_id.surname=capitalizeFirstLetter(review.user_id.surname)
                  %>
                </td>
                <td>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a
                        href="/review/<%= review._id %>"
                        class="px-2 text-primary"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Edit"
                        ><i class="bx bx-pencil font-size-22"></i
                      ></a>
                    </li>

                    <li class="list-inline-item">
                      <form
                        id="deleteForm<%= review._id %>"
                        method="post"
                        action="/review/delete/<%= review._id %>"
                      >
                        <a
                          href="javascript:deleteReview('<%= review._id %>')"
                          id="deleteLink<%= review._id %>"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Delete"
                          ><i class="bx bx-trash font-size-22 red"></i
                        ></a>
                      </form>
                    </li>
                  </ul>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="row mt-4">
          <div class="col-sm-6">
            <div>
              <p class="mb-sm-0">Showing 1 to 10 of 12 entries</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-end">
              <ul class="pagination mb-sm-0">
                <li class="page-item disabled">
                  <a href="#" class="page-link"
                    ><i class="mdi mdi-chevron-left"></i
                  ></a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link"
                    ><i class="mdi mdi-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script>
  document.addEventListener('load', function () {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    const form = document.querySelector('#search-form');
    const queryInput = document.querySelector('#inputSearch');
    const resultsList = document.querySelector('#results');

    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const query = queryInput.value;

      fetch(`/search?query=${query}`)
        .then((response) => response.json())
        .then((data) => {
          resultsList.innerHTML = '';
          data.forEach((result) => {
            const listItem = document.createElement('li');
            listItem.textContent = result.name;
            resultsList.appendChild(listItem);
          });
        })
        .catch((error) => console.error(error));
    });
  });
</script>
