<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>
<div class="row">
  <div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4 class="mb-0">Events</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Events</a>
          </li>
          <li class="breadcrumb-item active">Events</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<% if (message && message.length > 0) { %>
<ul class="errors">
  <%= message %>
</ul>
<% } %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-sm-8">
            <div class="text-sm-start">
              <a href="/add/event">
                <button type="button" class="btn btn-success waves-effect waves-light mb-2 me-2">
                  <i class="mdi mdi-plus me-1"></i> New event
                </button>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="search-box me-2 mb-2 d-inline-block">
              <div class="position-relative">
                <form method="get" action="/events" class="row flex-row flex-nowrap">
                  <input
                    type="text"
                    class="form-control col-8 inputSearch"
                    id="inputSearch"
                    name="key"
                    placeholder="Search..."
                    style="height: 40px"
                  />
                  <input
                    type="submit"
                    value="search"
                    class="btn btn-success waves-effect waves-light mb-2 me-2 col-4 ms-2"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-middle table-nowrap table-check">
            <thead class="table-light">
              <tr>
                <th class="align-middle" style="width: 5%">Publish</th>
                <th class="align-middle" style="width: 7%">Image</th>
                <th class="align-middle" style="width: 15%">Event name</th>
                <th class="align-middle" style="width: 15%">Date</th>
                <th class="align-middle" style="width: 30%">Location</th>
                <th class="align-middle">Action</th>
              </tr>
            </thead>
            <tbody>
              <%- contentFor('body') %> <% if (events.length > 0) { %> <% events.forEach(function(event) { %>
              <tr>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input activeSwtich" type="checkbox" role="switch" data-item-id="active_<%=
                    event._id %>" // prettier-ignore <% if (event.active) { %>checked<% } %> id="active_<%= event._id
                    %>" />
                  </div>
                </td>
                <td>
                  <a href="/event/photo/<%= event._id %>" data-toggle="tooltip" data-placement="top" title="Photo">
                    <img
                      src="<%= process.env.NODE_URL %>/img/events/<%= event.imageCover %>"
                      style="width: 120px; height: auto"
                      onerror="this.onerror=null;this.src='/placeholder.jpg';"
                  /></a>
                </td>
                <td><b><%= event.name %></b></td>
                <td>
                  <% if(event.typeDate === 'single'){ %> <%= event.formattedStart %> <% } else {%> <%=
                  event.formattedStart %> - <%= event.formattedEnd %> <%}%>
                </td>
                <td><%= event.location.description %></td>
                <td>
                  <div class="d-flex gap-1">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <a
                          href="/event/<%= event._id %>"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Edit"
                          ><i class="bx bx-pencil font-size-22"></i
                        ></a>
                      </li>

                      <li class="list-inline-item">
                        <a
                          href="/event/photo/<%= event._id %>"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Photo"
                          ><i class="mdi mdi-camera font-size-22"></i
                        ></a>
                      </li>

                      <li class="list-inline-item">
                        <a
                          href="/event/location/<%= event._id %>"
                          class="px-2 text-primary"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Location"
                          ><i class="mdi mdi-map-marker font-size-22 green"></i
                        ></a>
                      </li>

                      <li class="list-inline-item">
                        <form id="deleteForm<%= event._id %>" method="post" action="/event/delete/<%= event._id %>">
                          <a
                            href="javascript:deleteEvent('<%= event._id %>')"
                            id="deleteLink<%= event._id %>"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Delete"
                            ><i class="bx bx-trash font-size-22 red"></i
                          ></a>
                        </form>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <% }); %> <% } else { %>
              <tr>
                <td colspan="10">
                  <br /><br />
                  <b>Events not found</b>
                  <br /><br /><br />
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <%- include('./../Partials/Pagination', { totalPages, currentPage, limit, page, pageName:'events' }) %>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>

<script>
  document.addEventListener('load', function () {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

    const form = document.querySelector('#search-form');
    const queryInput = document.querySelector('#inputSearch');
    const resultsList = document.querySelector('#results');

    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const query = queryInput.value;

      fetch(`/search?query=${query}`)
        .then((response) => response.json())
        .then((data) => {
          resultsList.innerHTML = '';
          data.forEach((result) => {
            const listItem = document.createElement('li');
            listItem.textContent = result.name;
            resultsList.appendChild(listItem);
          });
        })
        .catch((error) => console.error(error));
    });
  });

  initializeSwitches('event');
</script>
