<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %>

<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0">Edit user</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Users</a>
          </li>
          <li class="breadcrumb-item active">Edit user</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<%- contentFor('body') %> <% if (message && message.length > 0) { %>
<ul class="errors">
  <%= message %>
</ul>
<% } %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a href="/users" class="back-button">
          <button
            type="button"
            class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
          >
            <i
              class="mdi mdi-arrow-left-thick me-1"
              style="font-size: 14px"
            ></i>
            Back
          </button>
        </a>
      </div>

      <form method="post" action="/user/<%= formData._id %>">
        <div class="card-body">
          
          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
              Name<b style="color:red">*</b>
            </label>
            <div class="col-md-10">
              <input
                class="form-control"
                type="text"
                value="<%= formData && formData.name ? formData.name : '' %>"
                name="name"
              />
            </div>
          </div>

          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
              Surname<b style="color:red">*</b>
            </label>
            <div class="col-md-10">
              <input
                class="form-control"
                type="text"
                value="<%= formData && formData.surname ? formData.surname : '' %>"
                name="surname"
              />
            </div>
          </div>

          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
              Email<b style="color:red">*</b>
            </label>
            <div class="col-md-10">
              <input
                class="form-control"
                type="text"
                value="<%= formData && formData.email ? formData.email : '' %>"
                name="email"
              />
            </div>
          </div>

          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
              Role<b style="color:red">*</b>
            </label>
            <div class="col-md-10">
              <select class="form-select" name="role">
                <option>- Select -</option>
                <option value="user" <%= formData && formData.role === 'user' ? ' selected ' : '' %>>User</option>
                <option value="guide" <%= formData && formData.role === 'guide' ? ' selected ' : '' %>>Guide</option>
                <option value="lead-guide" <%= formData && formData.role === 'lead-guide' ? ' selected ' : '' %>>Lead-guide</option>
                <option value="admin" <%= formData && formData.role === 'admin' ? ' selected ' : '' %>>Admin</option>
              </select>
            </div>
          </div>

         

          <div class="mt-4 row">
            <label for="example-text-input" class="col-md-2 col-form-label">
            </label>
            <div class="col-md-10">
              <button type="submit" class="btn btn-primary w-md">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="/assets/js/pages/form-editor.init.js"></script>

<%- contentFor('FooterJs') %> <%- contentFor('BottomJs') %>
